<div class="row main-area">
  <div class="login-box">
    <div class="col-12">
      <img class="logo" src="../../../assets/images/logo_hz.png" alt="">
    </div>

    <!-- Tab -->
    <div class="lb-header">
      <a class="{{ isLogin ? 'active' : '' }}" id="login-box-link" (click)="changeAction()">Login</a>
      <a class="{{ !isLogin ? 'active' : '' }}" id="signup-box-link" (click)="changeAction()">Sign Up</a>
    </div>

    <!-- Login with social network -->
    <div class="social-login">
      <a (click)="signInWithFB()" class="login-facebook cursor-pointer" title="Signin with Facebook">
        <i class="fa fa-facebook fa-lg"></i>
        Facebook
      </a>
      <a (click)="signInWithGoogle()" class="login-google cursor-pointer" title="Signin with Google">
        <i class="fa fa-google-plus fa-lg"></i>
        Google
      </a>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginForm" class="email-login" [hidden]="!isLogin" (ngSubmit)="login()">
      <!-- Error message -->
      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>

      <div class="u-form-group">
        <input formControlName="email" type="email" placeholder="Email" id="login_email" />
        <div *ngIf="formLoginControls.email.errors" class="help-block">
          <div *ngIf="formLoginControls.email.errors.required">This field is required</div>
          <div *ngIf="formLoginControls.email.errors.email">Invalid email address</div>
        </div>
      </div>
      <div class="u-form-group">
        <input formControlName="password" type="password" placeholder="Password" id="login-pass" />
        <div *ngIf="formLoginControls.password.errors" class="help-block">
          <div *ngIf="formLoginControls.password.errors.required">This field is required</div>
        </div>
      </div>
      <div class="u-form-group">
        <button type="submit" class="btn btn-success">Log in</button>
      </div>
      <div class="u-form-group">
        <a [routerLink]="['/reset-password']" class="forgot-password">Forgot password?</a>
      </div>
    </form>

    <!-- Sign Up form -->
    <form [formGroup]="signUpForm" class="email-signup" [hidden]="isLogin" (ngSubmit)="signUp()">
      <!-- Error message -->
      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>

      <div class="u-form-group">
        <input formControlName="email" type="email" placeholder="Email" />
        <div *ngIf="formSignUpControls.email.touched && formSignUpControls.email.errors" class="help-block">
          <div *ngIf="formSignUpControls.email.errors.required">This field is required</div>
          <div *ngIf="formSignUpControls.email.errors.email">Invalid email address</div>
        </div>
      </div>
      <div class="u-form-group">
        <input formControlName="password" type="password" placeholder="Password" />
        <div *ngIf="formSignUpControls.password.errors" class="help-block">
          <div *ngIf="formSignUpControls.password.errors.required">This field is required</div>
          <div *ngIf="formSignUpControls.password.errors.minLength">Password requires at least 8 alphanumeric characters
          </div>
        </div>
      </div>
      <div class="u-form-group">
        <input formControlName="confirm" type="password" placeholder="Confirm Password" />
      </div>
      <div class="u-form-group">
        <button type="submit" class="btn btn-success">Sign Up</button>
      </div>
    </form>

  </div>
</div>
